#Getting Started
* Excel is easy to use if you only want to look at data and make silly pie
charts, but scientists need more powerful tools
* Today we'll learn how to
    - Quickly get stats on all of your samples
    - Merge data from multiple rows (i.e. transcripts to a gene)
    - Filter data by various criteria
    - Merge data from multiple sheets (i.e. UCSC annotation to HUGO)
* All of this comes from a module called “pandas”, which is included in
Anaconda, so it should already be installed on your machine

In [37]:
import pandas as pd
import numpy as np

#Pandas Objects

- Like lists, dictionaries, etc., Pandas has two objects:
    - **Series:** like a column in a spreadsheet
    - **DataFrame:** like a spreadsheet – a dictionary of Series objects
- Let's make some columns and spreadsheets

In [38]:
s = pd.Series([1,3,5,np.nan,6,8])

In [39]:
data = [['ABC', -3.5, 0.01], ['ABC', -2.3, 0.12], ['DEF', 1.8,
0.03], ['DEF', 3.7, 0.01], ['GHI', 0.04, 0.43], ['GHI', -0.1,
0.67]]

In [40]:
df = pd.DataFrame(data, columns=['gene', 'log2FC', 'pval'])

Now type ```s``` and ```df``` into your terminal and see what it outputs

In [41]:
s

0     1
1     3
2     5
3   NaN
4     6
5     8
dtype: float64

In [42]:
df

  gene  log2FC  pval
0  ABC   -3.50  0.01
1  ABC   -2.30  0.12
2  DEF    1.80  0.03
3  DEF    3.70  0.01
4  GHI    0.04  0.43
5  GHI   -0.10  0.67

#Viewing Data
Try the following:

In [43]:
df.head()

  gene  log2FC  pval
0  ABC   -3.50  0.01
1  ABC   -2.30  0.12
2  DEF    1.80  0.03
3  DEF    3.70  0.01
4  GHI    0.04  0.43

In [44]:
df.tail()

  gene  log2FC  pval
1  ABC   -2.30  0.12
2  DEF    1.80  0.03
3  DEF    3.70  0.01
4  GHI    0.04  0.43
5  GHI   -0.10  0.67

In [45]:
df.tail(2)

  gene  log2FC  pval
4  GHI    0.04  0.43
5  GHI   -0.10  0.67

In [46]:
df['log2FC']

0   -3.50
1   -2.30
2    1.80
3    3.70
4    0.04
5   -0.10
Name: log2FC, dtype: float64

In [47]:
df.columns

Index([u'gene', u'log2FC', u'pval'], dtype='object')

In [48]:
df.index

Int64Index([0, 1, 2, 3, 4, 5], dtype='int64')

In [49]:
df.values

array([['ABC', -3.5, 0.01],
       ['ABC', -2.3, 0.12],
       ['DEF', 1.8, 0.03],
       ['DEF', 3.7, 0.01],
       ['GHI', 0.04, 0.43],
       ['GHI', -0.1, 0.67]], dtype=object)

- You should see, in order: the first 5
lines, the last 5 lines, the last 2
lines, only the column 'log2FC', the
columns, the indices, and the data
- Unlike other Python data objects, if
you print a Pandas object to the
terminal, it won't flood your screen
because it was designed to be
readable
- What you'll find in the following
sections is that Pandas objects have
a logic that is quite different from
regular Python
- For example, operations happen on
entire columns and rows
- The new Pandas rules exist to make
your life easier, but it means you have
to hold two sets of rules in your head

# Basic Operations
- We'll go back to our ```df``` in a moment, but first, create this spreadsheet:

In [50]:
nums = [[1, 2], [4, 5], [7, 8], [10, 11]]

In [51]:
numdf = pd.DataFrame(nums, columns=['c1', 'c2'])

- Add a column:

In [52]:
numdf

   c1  c2
0   1   2
1   4   5
2   7   8
3  10  11

In [53]:
numdf['c3'] = [3, 6, 9, 12]

In [54]:
numdf

   c1  c2  c3
0   1   2   3
1   4   5   6
2   7   8   9
3  10  11  12

- Multiply all elements of a column (give just the name of the column):

In [55]:
numdf['c1'] = numdf['c1']*2

In [56]:
numdf

   c1  c2  c3
0   2   2   3
1   8   5   6
2  14   8   9
3  20  11  12

- Divide all elements of multiple columns (give the DF a list of
columns):

In [57]:
numdf[['c2', 'c3']] = numdf[['c2', 'c3']]/2

In [58]:
numdf

   c1   c2   c3
0   2  1.0  1.5
1   8  2.5  3.0
2  14  4.0  4.5
3  20  5.5  6.0

#Basic Metrics

- Now try the following:

In [59]:
numdf.describe()

              c1        c2        c3
count   4.000000  4.000000  4.000000
mean   11.000000  3.250000  3.750000
std     7.745967  1.936492  1.936492
min     2.000000  1.000000  1.500000
25%     6.500000  2.125000  2.625000
50%    11.000000  3.250000  3.750000
75%    15.500000  4.375000  4.875000
max    20.000000  5.500000  6.000000

In [60]:
numdf.max(axis=0) # across all rows: the default

c1    20.0
c2     5.5
c3     6.0
dtype: float64

In [61]:
numdf.max(axis=1) # across all columns

0     2
1     8
2    14
3    20
dtype: float64

Now try the above for ```numdf.min(), numdf.mean(), numdf.std(),
numdf.median(), and numdf.sum()```

In [62]:
numdf.min()

c1    2.0
c2    1.0
c3    1.5
dtype: float64

In [63]:
numdf.mean()

c1    11.00
c2     3.25
c3     3.75
dtype: float64

In [64]:
numdf.std()

c1    7.745967
c2    1.936492
c3    1.936492
dtype: float64

In [65]:
numdf.median()

c1    11.00
c2     3.25
c3     3.75
dtype: float64

In [66]:
numdf.sum()

c1    44
c2    13
c3    15
dtype: float64

In [67]:
normdf = (numdf - numdf.mean())/numdf.std()

In [68]:
normdf

         c1        c2        c3
0 -1.161895 -1.161895 -1.161895
1 -0.387298 -0.387298 -0.387298
2  0.387298  0.387298  0.387298
3  1.161895  1.161895  1.161895

# Indexing and Iterating
- Remember indexing? How does it work with DFs?

In [69]:
numdf.loc[1, 'c2']

2.5

In [70]:
numdf.loc[1, ['c1', 'c2']]

c1    8.0
c2    2.5
Name: 1, dtype: float64

In [71]:
numdf.loc[1]

c1    8.0
c2    2.5
c3    3.0
Name: 1, dtype: float64

In [72]:
numdf.loc['c2'] # error

KeyError: 'the label [c2] is not in the [index]'

In [73]:
numdf.iloc[1, 2] # What is 2? So what is .iloc[m, n]?

3.0

- Exercise: get me 14 from numdf

In [74]:
numdf.iloc[2,0]

14.0

Exercise: get me the column c2 for real

In [75]:
numdf['c2']

0    1.0
1    2.5
2    4.0
3    5.5
Name: c2, dtype: float64

In [76]:
numdf.loc[1, 'c2'] = 5.0

In [77]:
numdf['c2'][1] = 5.0 # How are they different?

/Users/keriabermudez/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

#Filtering Data
- Let's go back to our original DF, df
- We only want to see the p-values that passed

In [78]:
df['pval'] < 0.05 # this is a boolean Series

0     True
1    False
2     True
3     True
4    False
5    False
Name: pval, dtype: bool

In [79]:
df[df['pval'] < 0.05] # this is called boolean indexing

  gene  log2FC  pval
0  ABC    -3.5  0.01
2  DEF     1.8  0.03
3  DEF     3.7  0.01

In [80]:
df['gene'].isin(['ABC', 'GHI'])

0     True
1     True
2    False
3    False
4     True
5     True
Name: gene, dtype: bool

In [81]:
df[df['gene'].isin(['ABC', 'GHI'])]

  gene  log2FC  pval
0  ABC   -3.50  0.01
1  ABC   -2.30  0.12
4  GHI    0.04  0.43
5  GHI   -0.10  0.67

In [82]:
df[(df['pval'] < 0.05) & (df['gene'].isin(['ABC', 'GHI']))]

  gene  log2FC  pval
0  ABC    -3.5  0.01

- Boolean indexing can also do assignments

In [83]:
df['log2FC'][df['pval'] > 0.05] = np.nan

/Users/keriabermudez/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

#Concat and Merge
- If two DFs share the same columns, they can be concatenated:
- pd.concat([numdf, numdf])
- More interestingly, two DFs can be joined by column values:

In [84]:
annodf = pd.DataFrame([['DEF', 'Leppard'], ['GHI', 'Ghost Hunters International'], ['ABC', 'Always Be Closing']],
columns=['acronym', 'association'])

In [85]:
resdf = df.merge(annodf, left_on='gene', right_on='acronym')

In [86]:
resdf

  gene  log2FC  pval acronym                  association
0  ABC    -3.5  0.01     ABC            Always Be Closing
1  ABC     NaN  0.12     ABC            Always Be Closing
2  DEF     1.8  0.03     DEF                      Leppard
3  DEF     3.7  0.01     DEF                      Leppard
4  GHI     NaN  0.43     GHI  Ghost Hunters International
5  GHI     NaN  0.67     GHI  Ghost Hunters International

You've just annotated your dataset!

#Sort and Groupby
- Let's sort by p-value:

In [88]:
df = df.sort(columns='pval')

In [89]:
df

  gene  log2FC  pval
0  ABC    -3.5  0.01
3  DEF     3.7  0.01
2  DEF     1.8  0.03
1  ABC     NaN  0.12
4  GHI     NaN  0.43
5  GHI     NaN  0.67

Exercise: sort it by gene name

In [90]:
df = df.sort(columns='gene')

In [91]:
df

  gene  log2FC  pval
0  ABC    -3.5  0.01
1  ABC     NaN  0.12
3  DEF     3.7  0.01
2  DEF     1.8  0.03
4  GHI     NaN  0.43
5  GHI     NaN  0.67

In [92]:
smdf = df.groupby('gene').mean()

In [93]:
smdf

      log2FC   pval
gene
ABC    -3.50  0.065
DEF     2.75  0.020
GHI      NaN  0.550

In [94]:
smdf = df.sort(columns='gene').groupby('gene').mean()

In [95]:
smdf

      log2FC   pval
gene
ABC    -3.50  0.065
DEF     2.75  0.020
GHI      NaN  0.550

#Input and Output
- How do you get data into and out of Pandas as spreadsheets?
Unfortunately, Pandas cannot work with XLS or XLSX files, they only
work with text files like TXT or CSVs

    -  A tab looks like this: '\t', but on your file it looks like a big space
    - Can also be comma-delimited, but bioinformatics always likes to use
tabs because there are sometimes commas in our data
    - **Check which delimiter your file is using before import!**
- Import to Pandas:

In [ ]:
df = pd.read_csv('data.csv', sep='\t', header=0) # or header=None

- Export to text file:

In [ ]:
df.to_csv('data.csv', sep='\t', header=True, index=False)